// Breakpoint tokens
$break-xs: 400;
$break-sm: 600;
$break-md: 960;
$break-lg: 1280;
$break-xl: 1920;

// Color tokens
$white: #FFFFFF;
$black: #000000;
$light: #EDF4F2;
$dark: #31473A;
$primary: #7C8363;
$grey: #292929;

// Spacing tokens
$xxs: 1px;
$xs: 2px;
$sm: 4px;
$md: 8px;
$lg: 16px;
$xl: 32px;
$xxl: 64px;

// Typography tokens
$body1FontFamily: "Open Sans", sans-serif;
$body1FontSize: 13px;
$body1FontWeight: 400;

:export {
  // Breakpoint variables
  breakXs: $break-xs;
  breakSm: $break-sm;
  breakMd: $break-md;
  breakLg: $break-lg;
  breakXl: $break-xl;
  // Color variables
  white: $white;
  black: $black;
  light: $light;
  dark: $dark;
  primary: $primary;
  grey: $grey;
  // Spacing variables
  xxs: $xxs;
  xs: $xs;
  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
  xxl: $xxl;
  // Typography variables
  body1FontFamily: $body1FontFamily;
  body1FontSize: $body1FontSize;
  body1FontWeight: $body1FontWeight;
}